{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <link rel="stylesheet" type ="text/css"
          href="{% static 'ecom/css/style.css' %}" />
    <script type="text/javascript" src="{% static 'ecom/js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script type="text/javascript" src="{% static 'ecom/js/bas.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecom/js/OrbitControls-2.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'ecom/js/hoge.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'ecom/js/three.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecom/js/trackball_ctrl_r62.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecom/js/pixel_particle.js' %}"></script>
    <link rel="shortcut icon" href="../static/ecom/img/ecom_img.ico" type="image/x-icon">
</head>
<h1>
	<b>Logged in! Welcome {{request.user.username}}</b>
</h1>
<h2>
	<b> <a href="logout/">Log out</a>
</h2>
<body>
   <!--
   <img class="heder-img" src="{% static 'ecom/img/header_img.png' %}" style="width: 100%;">-->
  <video id="bg-video" src="../static/ecom/img/t2r29-gzu41 (1) (1).mp4" poster="../static/ecom/img/t2r29-gzu41 (1) (1).gif" autoplay loop muted playsinline></video>
  <header background-color:#e6e6fa>
     <svg viewbox="0 0 100 20">
   <defs>
    <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
      <stop offset="5%" stop-color="#326384"/>
      <stop offset="95%" stop-color="#123752"/>
    </linearGradient>
    <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
      <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)"> 
        <animateTransform
            attributeName="transform"
            begin="0s"
            dur="1.5s"
            type="translate"
            from="0,0"
            to="40,0"
            repeatCount="indefinite" />
      </path>
    </pattern>
   </defs>
   <text text-anchor="middle" x="50" y="15" font-size="18" fill="url(#wave)"  fill-opacity="0.6">DeM-iON</text>
   <text text-anchor="middle" x="50" y="15" font-size="18" fill="url(#gradient)" fill-opacity="0.1">DeM-iON</text>
   </svg>
    <a href="{% url 'pay' %}" class="btn-circle-border-double">決済へ</a><br>
      </header>
   <div class="index-main-tables">
    {% for product in products %}
   <div class="index-table">
      <img src="{{ product.picture }}">
      <br>
      <a href="{% url 'product' %}?product={{ product.product }}">{{ product.product }}</a><br>
      <span>{{ product.price }}円</span><br>
   </div>
    {% endfor %}
   </div>
</body>
</html>
