#three-container{position:relative;}
.contents-0{position:absolute; width: 100%;}

body{font-family:"Yu Gothic","Meiryo";}
header{height: 13%;}
svg{position:fixed;z-index: -1;}
header a {
    position: fixed;
    bottom: 0%;
    right: 0;}

.index-main-tables {margin-bottom: 130px;overflow: hidden;}
.index-table {
    font-size: 30px;
    float:left;
    width:30%;
    border: solid 1px #A9BCF5;
    margin: 20px 14px;
    text-align: center;
    background-color: rgba(47,136,201,0.1);
}
.index-table a {font-size: 40px;}
.index-table img {height:300px;margin-top: 20px;max-width: 100%;}
.index-below{
    width: 300px !important;
    height: 70px !important;
    vertical-align: middle;
    line-height: 70px !important;
    font-size: 40px !important;}

body.product-body {background-color: #f2f2f2;}
.product-img{width:50%;float: left;text-align: center;}
.product-img img {max-height: 500px;max-width: 100%;}
.product-form{width:30%;float:left;margin: 50px;}
.product-input {
    width:240px;
    background: #668ad8;
    border-radius: 3px;
    border: solid 1px #668ad8;
    overflow: hidden;
    color: #FFFFFF;}
.product-form form label{font-size: 0px;}
.product-form form label:before {content: '本数' !important;font-size: 25px !important;margin: 0px 3px;}
#id_number {vertical-align: inherit;font-size: 26px;height: 39px;height: 50px;width: 76%;background-color:#ffffff !important}
select#id_number option {font-size: 15px !important;}
input[type="submit"] {
  width: 90%; 
  margin-top: 5px;
  margin-bottom:62px;
  display: block;
  text-align: center;
  font-size: 20px;
  width: 240px;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  clear:both;
}
input[type="submit"]:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.product-contents{clear:both;margin: 50px 10% 0px 10%;}
.product-name {font-size:50px;font-weight: bold;}
.product-price {font-size:30px;}
.product-text {font-size:30px;}

body.pay-body {background-color: #f2f2f2;}
.anataga, .goukei,.pay-money, .desu{
    font-weight: bolder;
    font-size: 35px;
    margin-left: 5%;
}
.paymentDetails {
float:left;
}
.paymentDetails .pay-content{
    float:left;
    width:30%;
    border: solid 1px #A9BCF5;
    margin: 20px 14px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: rgba(47,136,201,0.1);
}
.pay-content img {height:300px;margin-top: 20px;max-width: 100%;}
.pay-cart{font-size: 25px;}
.pay-money{font-size: 50px;}
.pay-below{clear:both;}
.pay-kessai{width:344px !important;margin-left:10% !important;margin-bottom: 10px !important;}
.pay-to-index{width:300px !important;margin: 10px 0px 50px 10% !important;}

/*product.html*/
/*決済ボタン*/
.btn-square-shadow {
  display: block;
  text-align: center;
  font-size: 20px;
  width: 200px;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin-bottom: 10px;
  clear:both;
}
.btn-square-shadow:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.btn-circle-border-double {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: double 4px #668ad8;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .6s;
  background: white;
  margin-right: 12%;
  margin-bottom: 3%;
  font-size:30px
}

.btn-circle-border-double:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

body {
  margin: 0;
}

.img_size {
  width:100px;
  height:100px;
}

body,html{margin:0;padding:0;height:100%;}
body{
  background:url('../static/ecom/img/online-3217733_1920.jpg');
  background-size:cover;
}
svg{font-weight:bold;height:auto;}

/* ----- 背景用の動画ファイル ----- */
#bg-video{
 transform: translateX(-50%);
 position: fixed;
 left: 50%;
 bottom: 0%;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 z-index: -100;
 background: url('poster.jpg') no-repeat;
 background-size: cover;
}

.popup-overlay{
  /*Hides pop-up when there is no "active" class*/
  visibility:hidden;
  position:absolute;
  background:#ffffff;
  border:3px solid #666666;
  width:50%;
  height:50%;
  left:25%;
}
.popup-overlay.active{
  /*displays pop-up when "active" class is present*/
  visibility:visible;
  text-align:center;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
 visibility:hidden;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility:visible;
}

button{
  display:inline-block;
  vertical-align:middle;
  border-radius:30px;
  margin:.20rem;
  font-size: 1rem;
  color:#666666;
  background:	#ffffff;
  border:1px solid #666666;
}

button:hover{
  border:1px solid #666666;
  background:#666666;
  color:#ffffff;
}
